/* General */
body {
    background: #f0efee;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

ul {
    list-style: none;
}

ul > li {
    display: inline;
}

ul > li:not(:first-child) {
    margin-left: 16px;
}

header {
    margin-top: 16px;
    padding-bottom: 8px;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

header h1 {
    text-align: center;
}

/* Main */
main {
    flex: 1;
}

.absence{
    background-color: #ff8a7c;
    padding: 10px;
    border: #ff0705 solid 1px;
    margin: 10px 0;
    border-radius: 5px;
}

.card {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: inline-block;
    padding: 1rem;
    margin-bottom: 1rem;
}

#navigation {
    margin-bottom: 1em;
}

/* Footer */
footer {
    align-items: flex-end;
    margin-bottom: 16px;
    padding-top: 8px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

footer * {
    margin: 0;
    font-size: 0.85rem;
}

footer ul {
    text-align: right;
}
