<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
        version="4.0">
  <display-name>SAVAPA (Système Alternatif de VAlidation de la Présence des Alternants</display-name>

  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EtudiantFilter</filter-name>
    <url-pattern>/Etudiant/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ProfFilter</filter-name>
    <url-pattern>/Prof/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ScolaFilter</filter-name>
    <url-pattern>/Scola/*</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>Connexion</welcome-file>
  </welcome-file-list>
</web-app>
